body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

ul {
  list-style-type: none;
}

.authorisation {
  float: right;
}

.main_title {
  margin-bottom: 20px;
  float: left;
}

/*=============================
Общие */
.center {
  width: 980px;
  margin: 0 auto;
}

.close {
  border-radius: 100%;
  border: 1px solid #777;
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 18px;
  font-size: 18px;
  overflow: hidden;
  background: #777;
  color: #D2D2D2;
  cursor: pointer;
}
.left {float:left}
.right {float:right}
/*=============================
таблицы silver */

.silver {
  margin: 0 auto;
}

.silver > tr {
  padding: 0;
  margin: 0;
}

.silver td {
  height: 20px;
  padding: 4px 5px;
}

.silver td:first-child {
}

.silver tr:nth-child(2n) > td {
  background: #c2c2c2;
}

.silver tr:nth-child(odd) > td {
  background: #dcdcdc;
}

.silver tr:hover > td {
  background: #B6C4D2;
  color: #292929;
}

.silver tr > td:hover {
  background: #9A9EB3;
  color: #fff;
}

.silver tr.head td {
  background: #777;
  color: white;
}

.silver tr > td.btnBox {
  width: 90px;
  background: #A7C3FF;
}
.silver tr > td.selected {
  background: #005580;
}
.silver tr > td.selected a{
  text-decoration: none;
}

.silver .selected a {
  color: #fff;
}
.silver a {
  color: #000;
}

.silver .close {
  position: absolute;
  right: 47px;
  top: 5px;
  background: #fff;
}
.silver .btn {
  /*width: 83px;*/
  cursor: pointer;
  margin: 0 4px;
}
.silver .btn:first-child {margin: 0}
.silver .btn:last-child {margin: 0}


.silver input {
    padding: 2px;
}
/* end таблицы silver
=============================*/


/*-----------------------
view - OrderEditor */
#editorBox {
  position: absolute;
  background: #fff;
}

.orderEditor {
  width: 295px;
  float: left;
  background: #dadada;
  padding: 10px;
  border: 2px solid #999;
}

.orderEditor input {
  padding: 2px
}

.orderEditor [name="desc"],
.orderEditor [name="buyer"] {
  width: 200px;
  height: 50px;
  resize: none;
}

.orderEditor [type="ui_date"] {
  width: 75px;
  text-align: right;
}

.orderEditor [name="price"] {
  width: 75px;
  text-align: right;
}

.orderEditor .close {
  position: relative;
  right: -11px;
  top: -8px;
  float: right;
}

.orderEditor td {
  position: relative;
}



.per3 {width: 3%}
.per5 {width: 5%}
.per10 {width: 10%}
.per15 {width: 15%}
.per20 {width: 20%}
.per30 {width: 30%}
.per35 {width: 35%}
.per40 {width: 40%}
.per50 {width: 50%}



.editor {
  width: 767px;
  position: absolute;
  background: #E0EAE3;
  padding: 20px;
  border: 1px solid #777;
}
.editor td {
  padding: 5px 0;
}
.editor .close {
  position: absolute;
  right: 8px;
  top: 8px;
}
.editor input {
  /*width: 500px;*/
  padding: 2px 4px;
}
.editor textarea {
  width: 500px;
  height: 50px;
  padding: 2px 4px;
}
.editor select {
  padding: 2px;
}
.editor ul {
  margin: 10px 0;
  padding: 0;
}
.editor li {
  margin: 8px 0;
}

.validator {
  position: absolute;
  top: 0;
  right: 0;
  background: #FFF;
  padding: 4px 10px;
  border: 1px solid #c0c0c0;
  color: #555
}

.validator:before {
  content: '';
  display: block;
  width: 17px;
  height: 16px;
  background: #fff;
  position: absolute;
  transform: rotate(45deg);
  left: -9px;
}

.error.validator:before {
  background: #FFE9E9;
}

.validator.error {
  background: #FFE9E9;
}
/**********************************/
.simpleView {
  width: 370px;
  margin: 0 auto;
  border: 1px solid;
  padding: 10px;
}
.simpleView input {
  width: 170px;
}
.simpleView form {
  padding: 10px 0;
}
.vOne {
  overflow: hidden;
  padding: 5px 0;
}
.vList button {
  float:right;
}
.hide {
  display: none;
}