.p0 {padding:0 !important}
.p9 {padding:9px !important}
.p12 {padding:12px !important}
.p18 {padding:18px  !important}
.p27 {padding:27px !important}
.p36 {padding:36px !important}
.p45 {padding:45px !important}
.p54 {padding:54px !important}
.p63 {padding:63px !important}
.p72 {padding:72px !important}
.p81 {padding:81px !important}
.p90 {padding:90px !important}
.p99 {padding:99px !important}

.m0 {margin:0 !important}
.m9 {margin:9px !important}
.m12 {margin:12px !important}
.m18 {margin:18px !important}
.m27 {margin:27px !important}
.m36 {margin:36px !important}
.m45 {margin:45px !important}
.m54 {margin:54px !important}
.m63 {margin:63px !important}
.m72 {margin:72px !important}
.m81 {margin:81px !important}
.m90 {margin:90px !important}
.m99 {margin:99px !important}

.pt0 {padding-top:0 !important}
.pt9 {padding-top:9px !important}
.pt12 {padding-top:12px !important}
.pt18 {padding-top:18px !important}
.pt27 {padding-top:27px !important}
.pt36 {padding-top:36px !important}
.pt45 {padding-top:45px !important}
.pt54 {padding-top:54px !important}
.pt63 {padding-top:63px !important}
.pt72 {padding-top:72px !important}
.pt81 {padding-top:81px !important}
.pt90 {padding-top:90px !important}
.pt99 {padding-top:99px !important}
.pt108 {padding-top:108px !important}
.pt117 {padding-top:117px !important}
.pt126 {padding-top:126px !important}
.pt135 {padding-top:135px !important}
.pt144 {padding-top:144px !important}
.pt153 {padding-top:144px !important}
.pt162 {padding-top:162px !important}

.pb0{padding-bottom:0 !important}
.pb9{padding-bottom:9px !important}
.pb12{padding-bottom:12px !important}
.pb18 {padding-bottom:18px !important}
.pb27 {padding-bottom:27px !important}
.pb36 {padding-bottom:36px !important}
.pb45 {padding-bottom:45px !important}
.pb54 {padding-bottom:54px !important}
.pb63 {padding-bottom:63px !important}
.pb72 {padding-bottom:72px !important}
.pb81 {padding-bottom:81px !important}
.pb90 {padding-bottom:90px !important}
.pb99 {padding-bottom:99px !important}
.pb108 {padding-bottom:108px !important}
.pb117 {padding-bottom:117px !important}
.pb126 {padding-bottom:126px !important}
.pb135 {padding-bottom:135px !important}
.pb144 {padding-bottom:144px !important}
.pb153 {padding-bottom:153px !important}
.pb162 {padding-bottom:162px !important}

.mt0 {margin-top:0 !important}
.mt9 {margin-top:9px !important}
.mt12 {margin-top:12px !important}
.mt18 {margin-top:18px !important}
.mt27 {margin-top:27px !important}
.mt36 {margin-top:36px !important}
.mt45 {margin-top:45px !important}
.mt54 {margin-top:54px !important}
.mt63 {margin-top:63px !important}
.mt72 {margin-top:72px !important}
.mt81 {margin-top:81px !important}
.mt90 {margin-top:90px !important}
.mt99 {margin-top:99px !important}
.mt108 {margin-top:108px !important}
.mt117 {margin-top:117px !important}
.mt126 {margin-top:126px !important}
.mt135 {margin-top:135px !important}
.mt144 {margin-top:144px !important}
.mt153 {margin-top:153px !important}
.mt162 {margin-top:162px !important}

.mb0 {margin-bottom:0 !important}
.mb9 {margin-bottom:9px !important}
.mb12 {margin-bottom:12px !important}
.mb18 {margin-bottom:18px !important}
.mb27 {margin-bottom:27px !important}
.mb36 {margin-bottom:36px !important}
.mb45 {margin-bottom:45px !important}
.mb54 {margin-bottom:54px !important}
.mb63 {margin-bottom:63px !important}
.mb72 {margin-bottom:72px !important}
.mb81 {margin-bottom:81px !important}
.mb90 {margin-bottom:90px !important}
.mb99 {margin-bottom:99px !important}
.mb108 {margin-bottom:108px !important}
.mb117 {margin-bottom:117px !important}
.mb126 {margin-bottom:126px !important}
.mb135 {margin-bottom:135px !important}
.mb144 {margin-bottom:144px !important}
.mb153 {margin-bottom:153px !important}
.mb162 {margin-bottom:162px !important}

.pl0 {padding-left:0 !important}
.pl9 {padding-left:9px !important}
.pl12 {padding-left:12px !important}
.pl18 {padding-left:18px !important}
.pl27 {padding-left:27px !important}
.pl36 {padding-left:36px !important}
.pl45 {padding-left:45px !important}
.pl54 {padding-left:54px !important}
.pl63 {padding-left:63px !important}
.pl72 {padding-left:72px !important}
.pl81 {padding-left:81px !important}
.pl90 {padding-left:90px !important}
.pl99 {padding-left:99px !important}
.pl108 {padding-left:108px !important}
.pl117 {padding-left:117px !important}
.pl126 {padding-left:126px !important}
.pl135 {padding-left:135px !important}
.pl144 {padding-left:144px !important}
.pl153 {padding-left:144px !important}
.pl162 {padding-left:162px !important}

.pr0{padding-right:0 !important}
.pr9{padding-right:9px !important}
.pr12{padding-right:12px !important}
.pr18 {padding-right:18px !important}
.pr27 {padding-right:27px !important}
.pr36 {padding-right:36px !important}
.pr45 {padding-right:45px !important}
.pr54 {padding-right:54px !important}
.pr63 {padding-right:63px !important}
.pr72 {padding-right:72px !important}
.pr81 {padding-right:81px !important}
.pr90 {padding-right:90px !important}
.pr99 {padding-right:99px !important}
.pr108 {padding-right:108px !important}
.pr117 {padding-right:117px !important}
.pr126 {padding-right:126px !important}
.pr135 {padding-right:135px !important}
.pr144 {padding-right:144px !important}
.pr153 {padding-right:153px !important}
.pr162 {padding-right:162px !important}

.ml0 {margin-left:0 !important}
.ml9 {margin-left:9px !important}
.ml12 {margin-left:12px !important}
.ml18 {margin-left:18px !important}
.ml27 {margin-left:27px !important}
.ml36 {margin-left:36px !important}
.ml45 {margin-left:45px !important}
.ml54 {margin-left:54px !important}
.ml63 {margin-left:63px !important}
.ml72 {margin-left:72px !important}
.ml81 {margin-left:81px !important}
.ml90 {margin-left:90px !important}
.ml99 {margin-left:99px !important}
.ml108 {margin-left:108px !important}
.ml117 {margin-left:117px !important}
.ml126 {margin-left:126px !important}
.ml135 {margin-left:135px !important}
.ml144 {margin-left:144px !important}
.ml153 {margin-left:153px !important}
.ml162 {margin-left:162px !important}

.mr0 {margin-right:0 !important}
.mr9 {margin-right:9px !important}
.mr12 {margin-right:12px !important}
.mr18 {margin-right:18px !important}
.mr27 {margin-right:27px !important}
.mr36 {margin-right:36px !important}
.mr45 {margin-right:45px !important}
.mr54 {margin-right:54px !important}
.mr63 {margin-right:63px !important}
.mr72 {margin-right:72px !important}
.mr81 {margin-right:81px !important}
.mr90 {margin-right:90px !important}
.mr99 {margin-right:99px !important}
.mr108 {margin-right:108px !important}
.mr117 {margin-right:117px !important}
.mr126 {margin-right:126px !important}
.mr135 {margin-right:135px !important}
.mr144 {margin-right:144px !important}
.mr153 {margin-right:153px !important}
.mr162 {margin-right:162px !important}

.fs10{font-size:10px !important;line-height:1;}
.fs11{font-size:11px !important;line-height:1;}
.fs12{font-size:12px !important;line-height:1;}
.fs14{font-size:14px !important;line-height:1.2;}
.fs16{font-size:16px !important;line-height:1.2;}
.fs18{font-size:18px !important;line-height:1.4;}
.fs21{font-size:21px !important;line-height:1.4;}
.fs22{font-size:22px !important;line-height:1.4;}
.fs24{font-size:24px !important;line-height:1.4;}
.fs26{font-size:26px !important;line-height:1.4;}
.fs28{font-size:28px !important;line-height:1.4;}
.fs30{font-size:30px !important;line-height:1.4;}
.fs32{font-size:32px !important;line-height:1.4;}
.fs34{font-size:34px !important;line-height:1.4;}
.fs36{font-size:36px !important;line-height:1.4;}
.fs48{font-size:48px !important;line-height:1.4;}
.fs50{font-size:50px !important;line-height:1.4;}
.fs52{font-size:52px !important;line-height:1.4;}
.fs54{font-size:54px !important;line-height:1.4;}
.fs56{font-size:56px !important;line-height:1.4;}
.fs58{font-size:58px !important;line-height:1.4;}
.fs60{font-size:60px !important;line-height:1.4;}
.fs60{font-size:70px !important;line-height:1.4;}
.fs72{font-size:72px !important;line-height:1.4;}

.cntr {text-align: center;}
.vtop {vertical-align: top}